streamlit==1.35.0
requests
Pillow
python-dotenv
pydantic==2.7.1
pydantic-settings
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
slowapi==0.1.9
torch==2.3.0
torchvision==0.18.0
sentence-transformers
chromadb
sqlalchemy==2.0.30
aiofiles
httpx
